pipeline/Scale Azure Database.json
{
	"name": "Scale Azure Database",
	"properties": {
		"activities": [
			{
				"name": "IfNotDesiredState",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckResourceState",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(pipeline().parameters.skuName,string(activity('CheckResourceState').output.properties.currentServiceObjectiveName)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SetResourceState",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/','databases/',pipeline().parameters.database,'?api-version=',pipeline().parameters.apiVersion)",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "PATCH",
								"body": {
									"value": "@concat('{\n  \"sku\": {\n    \"name\": \"',pipeline().parameters.skuName,'\",\n    \"tier\": \"Standard\"\n  }\n}')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			},
			{
				"name": "CheckResourceState",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql','/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.database,'?api-version=',pipeline().parameters.apiVersion)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "UntilStateChanges",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "IfNotDesiredState",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.skuName,string(activity('UntilCheckResourceStatus').output.properties.currentServiceObjectiveName))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "UntilCheckResourceStatus",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql','/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.database,'?api-version=',pipeline().parameters.apiVersion)",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"TenantID": {
				"type": "String",
				"defaultValue": "f67ca2c8-98fe-45b1-98e0-74e2356b52a4"
			},
			"SubscriptionID": {
				"type": "String",
				"defaultValue": "f579ce31-e6bd-479c-a184-92d055354936"
			},
			"ResourceGroup": {
				"type": "String",
				"defaultValue": "rg-dw-dev-eastus2"
			},
			"Server": {
				"type": "String",
				"defaultValue": "sql-apriodw-dev"
			},
			"database": {
				"type": "string",
				"defaultValue": "sqldb-apriodw-dev"
			},
			"skuName": {
				"type": "string",
				"defaultValue": "S2"
			},
			"skuTier": {
				"type": "string",
				"defaultValue": "Standard"
			},
			"apiVersion": {
				"type": "string",
				"defaultValue": "2019-06-01-preview"
			}
		},
		"folder": {
			"name": "Azure Management"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-18T16:01:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}