adf-apriodw-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-apriodw-dev"
		},
		"PEWarehouse_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PEWarehouse'"
		},
		"Azure_Blob_Storage_Linked_Service_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "stapriogeneral-connection-string"
		},
		"Azure_Key_Vault_Linked_Service_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-apriodw-dev.vault.azure.net/"
		},
		"Azure_SQL_Database_Linked_Service_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().secretName"
		},
		"On_Premise_SQL_Server_Linked_Service_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().secretConnectionString"
		},
		"On_Premise_SQL_Server_Linked_Service_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aprio\\adf.service"
		},
		"PEWarehouse_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aprio\\ccg.shillis"
		},
		"Pause AAS Instance_properties_Change State Azure AS_parameters_TenantID": {
			"type": "string",
			"defaultValue": "f67ca2c8-98fe-45b1-98e0-74e2356b52a4"
		},
		"Pause AAS Instance_properties_Change State Azure AS_parameters_SubscriptionID": {
			"type": "string",
			"defaultValue": "f579ce31-e6bd-479c-a184-92d055354936"
		},
		"Pause AAS Instance_properties_Change State Azure AS_parameters_ResourceGroup": {
			"type": "string",
			"defaultValue": "rg-dw-dev-eastus2"
		},
		"Pause AAS Instance_properties_Change State Azure AS_parameters_Server": {
			"type": "string",
			"defaultValue": "asapriodev"
		},
		"Pause AAS Instance_properties_Change State Azure AS_parameters_desiredState": {
			"type": "string",
			"defaultValue": "Paused"
		},
		"Pause AAS Instance_properties_Change State Azure AS_parameters_action": {
			"type": "string",
			"defaultValue": "suspend"
		},
		"Scale Down SQL DB_properties_Scale Azure Database_parameters_TenantID": {
			"type": "string",
			"defaultValue": "f67ca2c8-98fe-45b1-98e0-74e2356b52a4"
		},
		"Scale Down SQL DB_properties_Scale Azure Database_parameters_SubscriptionID": {
			"type": "string",
			"defaultValue": "f579ce31-e6bd-479c-a184-92d055354936"
		},
		"Scale Down SQL DB_properties_Scale Azure Database_parameters_ResourceGroup": {
			"type": "string",
			"defaultValue": "rg-dw-dev-eastus2"
		},
		"Scale Down SQL DB_properties_Scale Azure Database_parameters_Server": {
			"type": "string",
			"defaultValue": "sql-apriodw-dev"
		},
		"Scale Down SQL DB_properties_Scale Azure Database_parameters_database": {
			"type": "string",
			"defaultValue": "sqldb-apriodw-dev"
		},
		"Scale Down SQL DB_properties_Scale Azure Database_parameters_skuName": {
			"type": "string",
			"defaultValue": "S1"
		},
		"Scale Down SQL DB_properties_Scale Azure Database_parameters_skuTier": {
			"type": "string",
			"defaultValue": "Standard"
		},
		"Scale Down SQL DB_properties_Scale Azure Database_parameters_apiVersion": {
			"type": "string",
			"defaultValue": "2019-06-01-preview"
		},
		"ir-apriodw-001_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/f579ce31-e6bd-479c-a184-92d055354936/resourcegroups/ITAppsResourceGroup/providers/Microsoft.DataFactory/factories/AprioDataFactory/integrationruntimes/DevIntegrationRuntime\n"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Change State Azure AS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IfNotDesiredState",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "CheckResourceState",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(pipeline().parameters.desiredState,string(activity('CheckResourceState').output.properties.state)))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "SetDesiredState",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.AnalysisServices/servers/',pipeline().parameters.Server,'/',pipeline().parameters.action,'?api-version=2017-08-01')",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@null",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								}
							]
						}
					},
					{
						"name": "CheckResourceState",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.AnalysisServices/servers/',pipeline().parameters.Server,'?api-version=2016-05-16')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "UntilStateChanges",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "IfNotDesiredState",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.desiredState,string(activity('CheckAzureASStatus').output.properties.state))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CheckAzureASStatus",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.AnalysisServices/servers/',pipeline().parameters.Server,'?api-version=2016-05-16')",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "GET",
										"headers": {},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"parameters": {
					"TenantID": {
						"type": "String",
						"defaultValue": "f67ca2c8-98fe-45b1-98e0-74e2356b52a4"
					},
					"SubscriptionID": {
						"type": "String",
						"defaultValue": "f579ce31-e6bd-479c-a184-92d055354936"
					},
					"ResourceGroup": {
						"type": "String",
						"defaultValue": "rg-dw-dev-eastus2"
					},
					"Server": {
						"type": "String",
						"defaultValue": "asapriodev"
					},
					"desiredState": {
						"type": "string",
						"defaultValue": "Succeeded"
					},
					"action": {
						"type": "string",
						"defaultValue": "resume"
					}
				},
				"folder": {
					"name": "Azure Management"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-18T16:01:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Email Place Holder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					},
					"secretName": {
						"type": "string",
						"defaultValue": "stapriogeneral-connection-string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T15:37:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Azure_Storage_JSON_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Dimensions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to iterate over procedures created in SQL DB to load the edw layer dimensions from staging.",
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Current Pipeline",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Config').output.value[0].dataFactoryPipeline",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(pipeline().Pipeline,item().name)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Runtime Sequence Filter",
						"description": "This is not filter anything out unless a specific sequence number has been input for a pipeline parameter at runtime.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Filter Current Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Current Pipeline').output.value[0].parameters",
								"type": "Expression"
							},
							"condition": {
								"value": "@if(empty(pipeline().parameters.runtimeSequenceFilter),equals(1,1),contains(pipeline().parameters.runtimeSequenceFilter,item().sequence))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Dimension",
						"description": "Loop through all source tables that exist in JSON config file, under the pipeline name that equals current pipeline.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Runtime Sequence Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Runtime Sequence Filter').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 8,
							"activities": [
								{
									"name": "Execute Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@item().storedProcedureName",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_SQL_Database_Linked_Service",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"storageConnectionString": {
						"type": "string",
						"defaultValue": "DefaultEndpointsProtocol=https;AccountName=stapriogeneraldev;AccountKey=nUbXvo/Bu38/Yo4vO1Sab1iA7wgm8mIjwms2b0vwUXLBkKERYSuVMC9FA45SY6nL3ZaSmiXpIavEWuhQDHXO3w==;EndpointSuffix=core.windows.net"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					}
				},
				"variables": {
					"StagingTable": {
						"type": "String"
					},
					"sourceSQL": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-18T16:01:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Azure_Storage_JSON_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_SQL_Database_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Facts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to iterate over procedures created in SQL DB to load the edw layer Fact tables. Load Dimensions should be execute prior to this pipeline.",
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									},
									"secretName": "stapriogeneral-connection-string"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Current Pipeline",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Config').output.value[0].dataFactoryPipeline",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(pipeline().Pipeline,item().name)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Runtime Sequence Filter",
						"description": "This is not filter anything out unless a specific sequence number has been input for a pipeline parameter at runtime.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Filter Current Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Current Pipeline').output.value[0].parameters",
								"type": "Expression"
							},
							"condition": {
								"value": "@if(empty(pipeline().parameters.runtimeSequenceFilter),equals(1,1),contains(pipeline().parameters.runtimeSequenceFilter,item().sequence))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Fact",
						"description": "Loop through all source tables that exist in JSON config file, under the pipeline name that equals current pipeline.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Runtime Sequence Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Runtime Sequence Filter').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 8,
							"activities": [
								{
									"name": "Execute Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@item().storedProcedureName",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_SQL_Database_Linked_Service",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"storageConnectionString": {
						"type": "string",
						"defaultValue": "DefaultEndpointsProtocol=https;AccountName=stapriogeneraldev;AccountKey=nUbXvo/Bu38/Yo4vO1Sab1iA7wgm8mIjwms2b0vwUXLBkKERYSuVMC9FA45SY6nL3ZaSmiXpIavEWuhQDHXO3w==;EndpointSuffix=core.windows.net"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					}
				},
				"variables": {
					"StagingTable": {
						"type": "String"
					},
					"sourceSQL": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T15:37:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Azure_Storage_JSON_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_SQL_Database_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/On-Premise PEWarehouse SQL Database to Azure SQL Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source to staging pipeline that will reference config JSON file to loop through all tables that need to be staged. This will handle both incremental or full processing types.",
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Current Pipeline",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Config').output.value[0].dataFactoryPipeline",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(pipeline().Pipeline,item().name)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Runtime Sequence Filter",
						"description": "This is not filter anything out unless a specific sequence number has been input for a pipeline parameter at runtime.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Filter Current Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Current Pipeline').output.value[0].parameters",
								"type": "Expression"
							},
							"condition": {
								"value": "@if(empty(pipeline().parameters.runtimeSequenceFilter),equals(1,1),contains(pipeline().parameters.runtimeSequenceFilter,item().sequence))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Source Table",
						"description": "Loop through all source tables that exist in JSON config file, under the pipeline name that equals current pipeline.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Runtime Sequence Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Runtime Sequence Filter').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 8,
							"activities": [
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": {
												"value": "@item().targetWriteBatchSize",
												"type": "Expression"
											},
											"preCopyScript": {
												"value": "@{concat('IF EXISTS ( SELECT  *\n                FROM    sys.tables t inner join sys.schemas s\n\t\t\t\tON t.schema_id = s.schema_id\n                WHERE   s.name = ''',item().targetSchemaName\n\t\t\t\t,''''\n\t\t\t\t,' AND t.name = ''',item().targetTableName\n\t\t\t\t,''')'\n\t\t\t\t,' TRUNCATE TABLE ['\n\t\t\t\t,item().targetSchemaName\n\t\t\t\t,'].['\n\t\t\t\t,item().targetTableName\n\t\t\t\t,'] ELSE PRINT(''Table does not exist'')'\n\t\t\t\t)}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"redirectIncompatibleRowSettings": {
											"linkedServiceName": {
												"referenceName": "Azure_Blob_Storage_Linked_Service",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@item().incompatibleRowsFolderPath",
												"type": "Expression"
											}
										},
										"dataIntegrationUnits": {
											"value": "@item().dataIntegrationUnit",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "PEWarehouse_On_Premise_SQL_Server_Linked_Service",
											"type": "DatasetReference",
											"parameters": {
												"sourceSchemaName": {
													"value": "@item().sourceSchemaName",
													"type": "Expression"
												},
												"sourceTableName": {
													"value": "@item().sourceTableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Azure_SQL_Server_Table_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@item().targetSchemaName",
													"type": "Expression"
												},
												"table": {
													"value": "@item().targetTableName",
													"type": "Expression"
												},
												"secretname": {
													"value": "@pipeline().globalParameters.azureSQLDbSecret",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"storageConnectionString": {
						"type": "string",
						"defaultValue": "DefaultEndpointsProtocol=https;AccountName=stapriogeneraldev;AccountKey=nUbXvo/Bu38/Yo4vO1Sab1iA7wgm8mIjwms2b0vwUXLBkKERYSuVMC9FA45SY6nL3ZaSmiXpIavEWuhQDHXO3w==;EndpointSuffix=core.windows.net"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					}
				},
				"variables": {
					"StagingTable": {
						"type": "String"
					},
					"sourceSQL": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T15:59:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Azure_Storage_JSON_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/PEWarehouse_On_Premise_SQL_Server_Linked_Service')]",
				"[concat(variables('factoryId'), '/datasets/Azure_SQL_Server_Table_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_Blob_Storage_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/On-Premise SQL Database to Azure SQL Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source to staging pipeline that will reference config JSON file to loop through all tables that need to be staged. This will handle both incremental or full processing types.",
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									},
									"secretName": {
										"value": "@pipeline().parameters.storageSecretName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Current Pipeline",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Config').output.value[0].dataFactoryPipeline",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(pipeline().Pipeline,item().name)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Runtime Sequence Filter",
						"description": "This is not filter anything out unless a specific sequence number has been input for a pipeline parameter at runtime.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Filter Current Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Current Pipeline').output.value[0].parameters",
								"type": "Expression"
							},
							"condition": {
								"value": "@if(empty(pipeline().parameters.runtimeSequenceFilter),equals(1,1),contains(pipeline().parameters.runtimeSequenceFilter,item().sequence))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Source Table",
						"description": "Loop through all source tables that exist in JSON config file, under the pipeline name that equals current pipeline.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Runtime Sequence Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Runtime Sequence Filter').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 8,
							"activities": [
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Lookup High Water Mark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@if(equals(item().stagingLoadType, 'FULL'), concat('SELECT * FROM ['\n,item().sourceSchemaName\n,'].['\n,item().sourceTableName\n,'];')\n,concat('SELECT * FROM ['\n,item().sourceSchemaName\n,'].['\n,item().sourceTableName\n,'] WHERE '\n,item().modifiedDateColumn\n,' > CAST('''\n,activity('Lookup High Water Mark').output.firstRow.high_water_mark\n,''' AS datetime2);')\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": {
												"value": "@item().targetWriteBatchSize",
												"type": "Expression"
											},
											"preCopyScript": {
												"value": "@{concat('IF EXISTS ( SELECT  * FROM sys.tables t inner join sys.schemas s ON t.schema_id = s.schema_id WHERE s.name = '''\n,item().targetSchemaName\n,''' AND t.name = '''\n,item().targetTableName\n,''') TRUNCATE TABLE ['\n,item().targetSchemaName\n,'].['\n,item().targetTableName\n,']')}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"redirectIncompatibleRowSettings": {
											"linkedServiceName": {
												"referenceName": "Azure_Blob_Storage_Linked_Service",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@item().incompatibleRowsFolderPath",
												"type": "Expression"
											}
										},
										"dataIntegrationUnits": {
											"value": "@item().dataIntegrationUnit",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "On_Premise_SQL_Server_Query_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Azure_SQL_Server_Table_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@item().targetSchemaName",
													"type": "Expression"
												},
												"table": {
													"value": "@item().targetTableName",
													"type": "Expression"
												},
												"secretname": {
													"value": "@pipeline().globalParameters.azureSQLDbSecret",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Lookup High Water Mark",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@if(equals(item().stagingLoadType , 'INCREMENTAL')\n,concat('SELECT ISNULL(MAX(CONVERT(datetime2,'\n,item().modifiedDateColumn\n,')),''1900-01-01'') AS high_water_mark FROM ['\n,item().targetSchemaName\n,'].['\n,item().targetTableName\n,'];')\n,'SELECT ''1900-01-01'''\n)\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Azure_SQL_Server_Query_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"secretName": {
													"value": "@pipeline().globalParameters.azureSQLDbSecret",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								}
							]
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"storageConnectionString": {
						"type": "string"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					},
					"storageSecretName": {
						"type": "string",
						"defaultValue": "stapriogeneral-connection-string"
					}
				},
				"variables": {
					"StagingTable": {
						"type": "String"
					},
					"sourceSQL": {
						"type": "String"
					},
					"highWaterMark": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T20:23:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Azure_Storage_JSON_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/On_Premise_SQL_Server_Query_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Azure_SQL_Server_Table_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Azure_SQL_Server_Query_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_Blob_Storage_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Process Azure AS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UntilRefreshComplete",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "FilterToCurrentRefresh",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(activity('GetAzureASRefreshStatus').output.status,'inProgress'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "GetAzureASRefreshStatus",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait10Seconds",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes/',activity('FilterToCurrentRefresh').output.Value[0].refreshId)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {},
										"authentication": {
											"type": "MSI",
											"resource": "https://*.asazure.windows.net"
										}
									}
								},
								{
									"name": "Wait10Seconds",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "StartProcessingAzureAS",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@pipeline().parameters.jsonBody",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "IfFailed",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "UntilRefreshComplete",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GetAzureASRefreshStatus').output.status,'failed')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ThrowErrorOnFailure",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@string(activity('GetAzureASRefreshStatus').output)",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "GET",
										"headers": {}
									}
								},
								{
									"name": "EmailSendPipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ThrowErrorOnFailure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Email Place Holder",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "GetAzureASRefreshes",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "StartProcessingAzureAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"body": {
								"Type": "Full",
								"CommitMode": "transactional",
								"MaxParallelism": 10,
								"RetryCount": 2
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "FilterToCurrentRefresh",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetAzureASRefreshes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json(activity('GetAzureASRefreshes').output.Response)",
								"type": "Expression"
							},
							"condition": {
								"value": "@greaterOrEquals(item().startTime,addseconds(activity('StartProcessingAzureAS').output.startTime,-30))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					},
					"TenantID": {
						"type": "String",
						"defaultValue": "f67ca2c8-98fe-45b1-98e0-74e2356b52a4"
					},
					"SubscriptionID": {
						"type": "String",
						"defaultValue": "f579ce31-e6bd-479c-a184-92d055354936"
					},
					"Region": {
						"type": "String",
						"defaultValue": "aspaaseastus2"
					},
					"Server": {
						"type": "String",
						"defaultValue": "asapriodev"
					},
					"DatabaseName": {
						"type": "String",
						"defaultValue": "BillingAnalysis"
					},
					"jsonBody": {
						"type": "string",
						"defaultValue": {
							"Type": "Full",
							"CommitMode": "transactional",
							"MaxParallelism": 10,
							"RetryCount": 2,
							"Objects": []
						}
					},
					"storageSecretName": {
						"type": "string",
						"defaultValue": "stapriogeneral-connection-string"
					}
				},
				"variables": {
					"jsonBody": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Azure Management"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T15:37:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/pipelines/Email Place Holder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Scale Azure Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IfNotDesiredState",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "CheckResourceState",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(pipeline().parameters.skuName,string(activity('CheckResourceState').output.properties.currentServiceObjectiveName)))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "SetResourceState",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/','databases/',pipeline().parameters.database,'?api-version=',pipeline().parameters.apiVersion)",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "PATCH",
										"headers": {},
										"body": {
											"value": "@concat('{\n  \"sku\": {\n    \"name\": \"',pipeline().parameters.skuName,'\",\n    \"tier\": \"Standard\"\n  }\n}')",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								}
							]
						}
					},
					{
						"name": "CheckResourceState",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql','/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.database,'?api-version=',pipeline().parameters.apiVersion)",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "UntilStateChanges",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "IfNotDesiredState",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.skuName,string(activity('UntilCheckResourceStatus').output.properties.currentServiceObjectiveName))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "UntilCheckResourceStatus",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql','/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.database,'?api-version=',pipeline().parameters.apiVersion)",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "GET",
										"headers": {},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"parameters": {
					"TenantID": {
						"type": "String",
						"defaultValue": "f67ca2c8-98fe-45b1-98e0-74e2356b52a4"
					},
					"SubscriptionID": {
						"type": "String",
						"defaultValue": "f579ce31-e6bd-479c-a184-92d055354936"
					},
					"ResourceGroup": {
						"type": "String",
						"defaultValue": "rg-dw-dev-eastus2"
					},
					"Server": {
						"type": "String",
						"defaultValue": "sql-apriodw-dev"
					},
					"database": {
						"type": "string",
						"defaultValue": "sqldb-apriodw-dev"
					},
					"skuName": {
						"type": "string",
						"defaultValue": "S2"
					},
					"skuTier": {
						"type": "string",
						"defaultValue": "Standard"
					},
					"apiVersion": {
						"type": "string",
						"defaultValue": "2019-06-01-preview"
					}
				},
				"folder": {
					"name": "Azure Management"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-18T16:01:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Standard Orchestration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "On-Premise SQL Database to Azure SQL Database",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Start Resources",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "On-Premise SQL Database to Azure SQL Database",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Dimensions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "On-Premise SQL Database to Azure SQL Database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Dimensions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Facts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Dimensions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Facts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Start Resources",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Start Resources",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Process Azure AS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Facts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Process Azure AS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/On-Premise SQL Database to Azure SQL Database')]",
				"[concat(variables('factoryId'), '/pipelines/Load Dimensions')]",
				"[concat(variables('factoryId'), '/pipelines/Load Facts')]",
				"[concat(variables('factoryId'), '/pipelines/Start Resources')]",
				"[concat(variables('factoryId'), '/pipelines/Process Azure AS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Start Resources')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Scale Azure Database",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Scale Azure Database",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"TenantID": {
									"value": "@pipeline().globalParameters.aprioTenantID",
									"type": "Expression"
								},
								"SubscriptionID": {
									"value": "@pipeline().globalParameters.aprioSubscriptionID",
									"type": "Expression"
								},
								"ResourceGroup": {
									"value": "@pipeline().globalParameters.azureResourceGroup",
									"type": "Expression"
								},
								"Server": {
									"value": "@pipeline().globalParameters.azureSQLDbServer",
									"type": "Expression"
								},
								"database": {
									"value": "@pipeline().globalParameters.azureSQLDbDatabase",
									"type": "Expression"
								},
								"skuName": "S3",
								"skuTier": "Standard",
								"apiVersion": "2019-06-01-preview"
							}
						}
					},
					{
						"name": "Change State Azure AS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Change State Azure AS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"TenantID": {
									"value": "@pipeline().globalParameters.aprioTenantID",
									"type": "Expression"
								},
								"SubscriptionID": {
									"value": "@pipeline().globalParameters.aprioSubscriptionID",
									"type": "Expression"
								},
								"ResourceGroup": {
									"value": "@pipeline().globalParameters.azureResourceGroup",
									"type": "Expression"
								},
								"Server": {
									"value": "@pipeline().globalParameters.azureAnalysisServicesServer",
									"type": "Expression"
								},
								"desiredState": "Succeeded",
								"action": "resume"
							}
						}
					}
				],
				"folder": {
					"name": "Azure Management"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Scale Azure Database')]",
				"[concat(variables('factoryId'), '/pipelines/Change State Azure AS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_SQL_Server_Query_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_SQL_Database_Linked_Service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"secretName": {
						"type": "string",
						"defaultValue": "sqldb-apriodw-connection-string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_SQL_Database_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_SQL_Server_Table_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_SQL_Database_Linked_Service",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": {
							"value": "@dataset().secretname",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"secretname": {
						"type": "string",
						"defaultValue": "sqldb-apriodw-connection-string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_SQL_Database_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Storage_Delimited_Text_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Blob_Storage_Linked_Service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string",
						"defaultValue": "control"
					},
					"directory": {
						"type": "string",
						"defaultValue": "."
					},
					"columnDelimiter": {
						"type": "string",
						"defaultValue": ","
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().columnDelimiter",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_Blob_Storage_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Storage_JSON_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Blob_Storage_Linked_Service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"directory": {
						"type": "string",
						"defaultValue": "."
					},
					"file": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"secretName": {
						"type": "string",
						"defaultValue": "stapriogeneral-connection-string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"encodingName": {
						"value": "@dataset().encoding",
						"type": "Expression"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_Blob_Storage_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/On_Premise_SQL_Server_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "On_Premise_SQL_Server_Linked_Service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourceSchema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"sourceTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().sourceSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().sourceTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/On_Premise_SQL_Server_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/On_Premise_SQL_Server_Query_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "On_Premise_SQL_Server_Linked_Service",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretConnectionString": "aprio-pe-srv01-connection-string",
						"secretPassword": "aprio-pe-srv01-adf-password"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/On_Premise_SQL_Server_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PEWarehouse_On_Premise_SQL_Server_Linked_Service')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PEWarehouse",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourceSchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"sourceTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().sourceSchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().sourceTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PEWarehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Blob_Storage_Linked_Service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Azure_Key_Vault_Linked_Service",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Azure_Blob_Storage_Linked_Service_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_Key_Vault_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Key_Vault_Linked_Service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('Azure_Key_Vault_Linked_Service_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_SQL_Database_Linked_Service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to Aprio Development SQL DB - Refer to secret stored in keyvault for connection details.",
				"parameters": {
					"secretName": {
						"type": "string",
						"defaultValue": "sqldb-apriodw-connection-string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Azure_Key_Vault_Linked_Service",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "[parameters('Azure_SQL_Database_Linked_Service_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_Key_Vault_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/On_Premise_SQL_Server_Linked_Service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This inked service uses The self-hosted IR that is configured on Aprio_PE_SRV01",
				"parameters": {
					"secretConnectionString": {
						"type": "string",
						"defaultValue": "aprio-pe-srv01-connection-string"
					},
					"secretPassword": {
						"type": "string",
						"defaultValue": "aprio-pe-srv01-adf-password"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Azure_Key_Vault_Linked_Service",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "[parameters('On_Premise_SQL_Server_Linked_Service_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					},
					"userName": "[parameters('On_Premise_SQL_Server_Linked_Service_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Azure_Key_Vault_Linked_Service",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().secretPassword",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "ir-apriodw-001",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-apriodw-001')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_Key_Vault_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PEWarehouse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('PEWarehouse_connectionString')]",
					"userName": "[parameters('PEWarehouse_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Azure_Key_Vault_Linked_Service",
							"type": "LinkedServiceReference"
						},
						"secretName": "temp-PEwarehouse-password"
					}
				},
				"connectVia": {
					"referenceName": "ir-apriodw-001",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-apriodw-001')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_Key_Vault_Linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2hrProcessing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Standard Orchestration",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-03-01T19:27:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								14,
								16,
								18,
								20,
								22
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Standard Orchestration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pause AAS Instance')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Nightly trigger to pause development AAS Instance",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Change State Azure AS",
							"type": "PipelineReference"
						},
						"parameters": {
							"TenantID": "[parameters('Pause AAS Instance_properties_Change State Azure AS_parameters_TenantID')]",
							"SubscriptionID": "[parameters('Pause AAS Instance_properties_Change State Azure AS_parameters_SubscriptionID')]",
							"ResourceGroup": "[parameters('Pause AAS Instance_properties_Change State Azure AS_parameters_ResourceGroup')]",
							"Server": "[parameters('Pause AAS Instance_properties_Change State Azure AS_parameters_Server')]",
							"desiredState": "[parameters('Pause AAS Instance_properties_Change State Azure AS_parameters_desiredState')]",
							"action": "[parameters('Pause AAS Instance_properties_Change State Azure AS_parameters_action')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-02-18T20:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Change State Azure AS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Scale Down SQL DB')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Scale Azure Database",
							"type": "PipelineReference"
						},
						"parameters": {
							"TenantID": "[parameters('Scale Down SQL DB_properties_Scale Azure Database_parameters_TenantID')]",
							"SubscriptionID": "[parameters('Scale Down SQL DB_properties_Scale Azure Database_parameters_SubscriptionID')]",
							"ResourceGroup": "[parameters('Scale Down SQL DB_properties_Scale Azure Database_parameters_ResourceGroup')]",
							"Server": "[parameters('Scale Down SQL DB_properties_Scale Azure Database_parameters_Server')]",
							"database": "[parameters('Scale Down SQL DB_properties_Scale Azure Database_parameters_database')]",
							"skuName": "[parameters('Scale Down SQL DB_properties_Scale Azure Database_parameters_skuName')]",
							"skuTier": "[parameters('Scale Down SQL DB_properties_Scale Azure Database_parameters_skuTier')]",
							"apiVersion": "[parameters('Scale Down SQL DB_properties_Scale Azure Database_parameters_apiVersion')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-02-04T20:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Scale Azure Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-apriodw-001')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Linked to existing Integrated Runtime in ITAppsResourceGroup - AprioDataFactory with source server as Aprio-PE-SRV01 in GA Datacenter. Cbuss & SHillis FEB02-2021\n",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('ir-apriodw-001_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}