adf-apriodw-dev/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-apriodw-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load Dimensions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to iterate over procedures created in SQL DB to load the edw layer dimensions from staging.",
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Current Pipeline",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Config').output.value[0].dataFactoryPipeline",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(pipeline().Pipeline,item().name)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Runtime Sequence Filter",
						"description": "This is not filter anything out unless a specific sequence number has been input for a pipeline parameter at runtime.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Filter Current Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Current Pipeline').output.value[0].parameters",
								"type": "Expression"
							},
							"condition": {
								"value": "@if(empty(pipeline().parameters.runtimeSequenceFilter),equals(1,1),contains(pipeline().parameters.runtimeSequenceFilter,item().sequence))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Dimension",
						"description": "Loop through all source tables that exist in JSON config file, under the pipeline name that equals current pipeline.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Runtime Sequence Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Runtime Sequence Filter').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 8,
							"activities": [
								{
									"name": "Execute Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "procedureName",
											"value": "@{item().storedProcedureName}"
										}
									],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@item().storedProcedureName",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_SQL_Database_Linked_Service",
										"type": "LinkedServiceReference",
										"parameters": {
											"secretName": "sqldb-apriodw-connection-string"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"storageConnectionString": {
						"type": "string",
						"defaultValue": "DefaultEndpointsProtocol=https;AccountName=stapriogeneraldev;AccountKey=nUbXvo/Bu38/Yo4vO1Sab1iA7wgm8mIjwms2b0vwUXLBkKERYSuVMC9FA45SY6nL3ZaSmiXpIavEWuhQDHXO3w==;EndpointSuffix=core.windows.net"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					}
				},
				"variables": {
					"StagingTable": {
						"type": "String"
					},
					"sourceSQL": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-18T16:01:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Facts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to iterate over procedures created in SQL DB to load the edw layer Fact tables. Load Dimensions should be execute prior to this pipeline.",
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									},
									"secretName": "stapriogeneral-connection-string"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Current Pipeline",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Config').output.value[0].dataFactoryPipeline",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(pipeline().Pipeline,item().name)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Runtime Sequence Filter",
						"description": "This is not filter anything out unless a specific sequence number has been input for a pipeline parameter at runtime.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Filter Current Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Current Pipeline').output.value[0].parameters",
								"type": "Expression"
							},
							"condition": {
								"value": "@if(empty(pipeline().parameters.runtimeSequenceFilter),equals(1,1),contains(pipeline().parameters.runtimeSequenceFilter,item().sequence))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Fact",
						"description": "Loop through all source tables that exist in JSON config file, under the pipeline name that equals current pipeline.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Runtime Sequence Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Runtime Sequence Filter').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 8,
							"activities": [
								{
									"name": "Execute Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "procedureName",
											"value": "@{item().storedProcedureName}"
										}
									],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@item().storedProcedureName",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_SQL_Database_Linked_Service",
										"type": "LinkedServiceReference",
										"parameters": {
											"secretName": "sqldb-apriodw-connection-string"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"storageConnectionString": {
						"type": "string",
						"defaultValue": "DefaultEndpointsProtocol=https;AccountName=stapriogeneraldev;AccountKey=nUbXvo/Bu38/Yo4vO1Sab1iA7wgm8mIjwms2b0vwUXLBkKERYSuVMC9FA45SY6nL3ZaSmiXpIavEWuhQDHXO3w==;EndpointSuffix=core.windows.net"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					}
				},
				"variables": {
					"StagingTable": {
						"type": "String"
					},
					"sourceSQL": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T15:37:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/On-Premise PEWarehouse SQL Database to Azure SQL Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source to staging pipeline that will reference config JSON file to loop through all tables that need to be staged. This will handle both incremental or full processing types.",
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Current Pipeline",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Config').output.value[0].dataFactoryPipeline",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(pipeline().Pipeline,item().name)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Runtime Sequence Filter",
						"description": "This is not filter anything out unless a specific sequence number has been input for a pipeline parameter at runtime.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Filter Current Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Current Pipeline').output.value[0].parameters",
								"type": "Expression"
							},
							"condition": {
								"value": "@if(empty(pipeline().parameters.runtimeSequenceFilter),equals(1,1),contains(pipeline().parameters.runtimeSequenceFilter,item().sequence))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Source Table",
						"description": "Loop through all source tables that exist in JSON config file, under the pipeline name that equals current pipeline.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Runtime Sequence Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Runtime Sequence Filter').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 8,
							"activities": [
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": {
												"value": "@item().targetWriteBatchSize",
												"type": "Expression"
											},
											"preCopyScript": {
												"value": "@{concat('IF EXISTS ( SELECT  *\n                FROM    sys.tables t inner join sys.schemas s\n\t\t\t\tON t.schema_id = s.schema_id\n                WHERE   s.name = ''',item().targetSchemaName\n\t\t\t\t,''''\n\t\t\t\t,' AND t.name = ''',item().targetTableName\n\t\t\t\t,''')'\n\t\t\t\t,' TRUNCATE TABLE ['\n\t\t\t\t,item().targetSchemaName\n\t\t\t\t,'].['\n\t\t\t\t,item().targetTableName\n\t\t\t\t,'] ELSE PRINT(''Table does not exist'')'\n\t\t\t\t)}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"redirectIncompatibleRowSettings": {
											"linkedServiceName": {
												"referenceName": "Azure_Blob_Storage_Linked_Service",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@item().incompatibleRowsFolderPath",
												"type": "Expression"
											}
										},
										"dataIntegrationUnits": {
											"value": "@item().dataIntegrationUnit",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "PEWarehouse_On_Premise_SQL_Server_Linked_Service",
											"type": "DatasetReference",
											"parameters": {
												"sourceSchemaName": {
													"value": "@item().sourceSchemaName",
													"type": "Expression"
												},
												"sourceTableName": {
													"value": "@item().sourceTableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Azure_SQL_Server_Table_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@item().targetSchemaName",
													"type": "Expression"
												},
												"table": {
													"value": "@item().targetTableName",
													"type": "Expression"
												},
												"secretname": {
													"value": "@pipeline().globalParameters.azureSQLDbSecret",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"storageConnectionString": {
						"type": "string",
						"defaultValue": "DefaultEndpointsProtocol=https;AccountName=stapriogeneraldev;AccountKey=nUbXvo/Bu38/Yo4vO1Sab1iA7wgm8mIjwms2b0vwUXLBkKERYSuVMC9FA45SY6nL3ZaSmiXpIavEWuhQDHXO3w==;EndpointSuffix=core.windows.net"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					}
				},
				"variables": {
					"StagingTable": {
						"type": "String"
					},
					"sourceSQL": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T15:59:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/On-Premise SQL Database to Azure SQL Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source to staging pipeline that will reference config JSON file to loop through all tables that need to be staged. This will handle both incremental or full processing types.",
				"activities": [
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Azure_Storage_JSON_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.configContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.configDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.configFile",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding",
										"type": "Expression"
									},
									"secretName": {
										"value": "@pipeline().parameters.storageSecretName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Current Pipeline",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Config').output.value[0].dataFactoryPipeline",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(pipeline().Pipeline,item().name)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Runtime Sequence Filter",
						"description": "This is not filter anything out unless a specific sequence number has been input for a pipeline parameter at runtime.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Filter Current Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Current Pipeline').output.value[0].parameters",
								"type": "Expression"
							},
							"condition": {
								"value": "@if(empty(pipeline().parameters.runtimeSequenceFilter),equals(1,1),contains(pipeline().parameters.runtimeSequenceFilter,item().sequence))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each Source Table",
						"description": "Loop through all source tables that exist in JSON config file, under the pipeline name that equals current pipeline.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Runtime Sequence Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Runtime Sequence Filter').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Lookup High Water Mark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().sourceSchemaName}.@{item().sourceTableName}"
										},
										{
											"name": "Destination",
											"value": "@{item().targetSchemaName}.@{item().targetTableName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@if(equals(item().stagingLoadType, 'FULL'), concat('SELECT * FROM ['\n,item().sourceSchemaName\n,'].['\n,item().sourceTableName\n,'];')\n,concat('SELECT * FROM ['\n,item().sourceSchemaName\n,'].['\n,item().sourceTableName\n,'] WHERE '\n,item().modifiedDateColumn\n,' > CAST('''\n,activity('Lookup High Water Mark').output.firstRow.high_water_mark\n,''' AS datetime2);')\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": {
												"value": "@item().targetWriteBatchSize",
												"type": "Expression"
											},
											"preCopyScript": {
												"value": "@{concat('IF EXISTS ( SELECT  * FROM sys.tables t inner join sys.schemas s ON t.schema_id = s.schema_id WHERE s.name = '''\n,item().targetSchemaName\n,''' AND t.name = '''\n,item().targetTableName\n,''') TRUNCATE TABLE ['\n,item().targetSchemaName\n,'].['\n,item().targetTableName\n,']')}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"redirectIncompatibleRowSettings": {
											"linkedServiceName": {
												"referenceName": "Azure_Blob_Storage_Linked_Service",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@item().incompatibleRowsFolderPath",
												"type": "Expression"
											}
										},
										"dataIntegrationUnits": {
											"value": "@item().dataIntegrationUnit",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "On_Premise_SQL_Server_Query_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Azure_SQL_Server_Table_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@item().targetSchemaName",
													"type": "Expression"
												},
												"table": {
													"value": "@item().targetTableName",
													"type": "Expression"
												},
												"secretname": {
													"value": "@pipeline().globalParameters.azureSQLDbSecret",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Lookup High Water Mark",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@if(equals(item().stagingLoadType , 'INCREMENTAL')\n,concat('SELECT ISNULL(MAX(CONVERT(datetime2,'\n,item().modifiedDateColumn\n,')),''1900-01-01'') AS high_water_mark FROM ['\n,item().targetSchemaName\n,'].['\n,item().targetTableName\n,'];')\n,'SELECT ''1900-01-01'''\n)\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Azure_SQL_Server_Query_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"secretName": {
													"value": "@pipeline().globalParameters.azureSQLDbSecret",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								}
							]
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"storageConnectionString": {
						"type": "string"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					},
					"storageSecretName": {
						"type": "string",
						"defaultValue": "stapriogeneral-connection-string"
					}
				},
				"variables": {
					"StagingTable": {
						"type": "String"
					},
					"sourceSQL": {
						"type": "String"
					},
					"highWaterMark": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T20:23:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Process Azure AS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UntilRefreshComplete",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "FilterToCurrentRefresh",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(activity('GetAzureASRefreshStatus').output.status,'inProgress'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "GetAzureASRefreshStatus",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait10Seconds",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes/',activity('FilterToCurrentRefresh').output.Value[0].refreshId)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {},
										"authentication": {
											"type": "MSI",
											"resource": "https://*.asazure.windows.net"
										}
									}
								},
								{
									"name": "Wait10Seconds",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "StartProcessingAzureAS",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@pipeline().parameters.jsonBody",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "IfFailed",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "UntilRefreshComplete",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GetAzureASRefreshStatus').output.status,'failed')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ThrowErrorOnFailure",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@string(activity('GetAzureASRefreshStatus').output)",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "GET",
										"headers": {}
									}
								},
								{
									"name": "EmailSendPipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ThrowErrorOnFailure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Email Place Holder",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "GetAzureASRefreshes",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "StartProcessingAzureAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"body": {
								"Type": "Full",
								"CommitMode": "transactional",
								"MaxParallelism": 10,
								"RetryCount": 2
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "FilterToCurrentRefresh",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetAzureASRefreshes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json(activity('GetAzureASRefreshes').output.Response)",
								"type": "Expression"
							},
							"condition": {
								"value": "@greaterOrEquals(item().startTime,addseconds(activity('StartProcessingAzureAS').output.startTime,-30))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"configContainer": {
						"type": "string",
						"defaultValue": "configurations"
					},
					"configDirectory": {
						"type": "string",
						"defaultValue": "."
					},
					"configFile": {
						"type": "string",
						"defaultValue": "aprio_adf_config.json"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"runtimeSequenceFilter": {
						"type": "array",
						"defaultValue": []
					},
					"TenantID": {
						"type": "String",
						"defaultValue": "f67ca2c8-98fe-45b1-98e0-74e2356b52a4"
					},
					"SubscriptionID": {
						"type": "String",
						"defaultValue": "f579ce31-e6bd-479c-a184-92d055354936"
					},
					"Region": {
						"type": "String",
						"defaultValue": "aspaaseastus2"
					},
					"Server": {
						"type": "String",
						"defaultValue": "asapriodev"
					},
					"DatabaseName": {
						"type": "String",
						"defaultValue": "BillingAnalysis"
					},
					"jsonBody": {
						"type": "string",
						"defaultValue": {
							"Type": "Full",
							"CommitMode": "transactional",
							"MaxParallelism": 10,
							"RetryCount": 2,
							"Objects": []
						}
					},
					"storageSecretName": {
						"type": "string",
						"defaultValue": "stapriogeneral-connection-string"
					}
				},
				"variables": {
					"jsonBody": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Azure Management"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-22T15:37:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Standard Orchestration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "On-Premise SQL Database to Azure SQL Database",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Start Resources",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "On-Premise SQL Database to Azure SQL Database",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Dimensions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "On-Premise SQL Database to Azure SQL Database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Dimensions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Facts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Dimensions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Facts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Start Resources",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Start Resources",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Process Azure AS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Facts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Process Azure AS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/On-Premise SQL Database to Azure SQL Database')]",
				"[concat(variables('factoryId'), '/pipelines/Load Dimensions')]",
				"[concat(variables('factoryId'), '/pipelines/Load Facts')]",
				"[concat(variables('factoryId'), '/pipelines/Process Azure AS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2hrProcessing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Standard Orchestration",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-03-01T19:27:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								14,
								16,
								18,
								20,
								22
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Standard Orchestration')]"
			]
		}
	]
}